###################################
# 🚫 IntelliJ
###################################
.idea/
*.iml
*.ipr
*.iws

###################################
# 🚫 Maven
###################################
target/

###################################
# 🚫 VS Code
###################################
.vscode/
*.code-workspace

###################################
# 🚫 Logs
###################################
*.log

###################################
# 🚫 Arquivos locais sensíveis
###################################
.env
application-local.yml
application-local.properties
chave api ChatGPT*.txt

###################################
# 🚫 Power BI
###################################
*.pbix